
*, ::before, ::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .imgOut img{
    max-width: 805px;
    height: 503px;
    border-radius: 55px;
 }

.container {
    width: 97vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 102px;
    line-height: 120px;
}

.game {
    padding: 40px;
    box-shadow: 0px 0px 45px 11px rgba(0, 0, 0, 0.35);
    border-radius: 55px;
}

.input {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    font-family: 'Roboto';
    padding: 10px 25px;
    margin: 0;
    width: 367px;
    height: 96px;
    background: #FFFFFF;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.4);
    border-radius: 48px;
    border: none;
}

.btn-go {
    padding: 29px 47px;
    background-color: #FFC300;
    border-radius: 48px;
    border: none;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    font-family: 'Roboto';
}

.btn-go:hover {
    background-color: #ebb401;
}

.form1 {
    display: flex;
    align-items: center;
    gap: 27px;
}

.piece {
    margin-left: 70px;
}



 .result {
    padding: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
 }

 .status {
    font-family: 'Roboto';
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 62px;
    line-height: 118%;
 }

 .btn-menu {
    width: 468px;
    padding: 25px 47px;
    background-color: #FFC300;
    border-radius: 48px;
    border: none;
    font-weight: 600;
    font-size: 52px;
    line-height: 38px;
    font-family: 'Roboto';
 }

 .btn-menu:hover {
    background-color: #ebb401;
}

.hidden {
    display: none;
 }

 @media (max-width:1910px) {
    .container {
        flex-direction: column;
    }
    .piece {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:1000px) {
    .game img {
        max-height: 300px;
    }
    .title {
        font-size: 52px;
    }
    .form1 {
        display: flex;
        flex-direction: column;
    }
    .input {
        width: 290px;
        height: 60px;
    }
    .btn-go {
        width: 290px;
        height: 60px;
        font-size: 20px;
        text-align: center;
        line-height: 0% ;
    }
}

@media(max-width:650px) {
    .game {
        padding: 15px;
    }
    .game img {
        max-height: 200px;
    }
}

/*-------------------------------------*/

.result {
    text-align: center;
    margin: 0 20px;
}

@media(max-width:650px) {
    .result {
        margin-bottom: 30px;
    }
    .status {
        font-size: 25px;
    }
    .btn-menu {
        width: 250px;
        font-size: 40px;
    }
}