*, ::after,::before {
    font-family: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 97vw;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-weight: 600;
    font-size: 72px;
    line-height: 121%;
    margin-bottom: 150px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.li-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    opacity: 1;
    width: 568px;
    height: 96px;
    background-color: #fff;
    border: 0px;
    font-weight: 600;
    font-size: 52px;
    line-height: 121%;
    border-radius: 48px;
    padding: 20px 60px;
}


.orange {
    background-color: #FFC300;
}

.orange:hover {
    background-color: #ebb401;
}

.yellow {
    background-color: #FFD60A;
}

.yellow:hover {
    background-color: #eec600;
}

.faded {
    background-color: #FFE65C;
}

.faded:hover {
    background-color: #f1d42b;
}

@media (max-width: 780px) {
    .list {
        padding: 0;
    }
}

@media (max-width: 580px) {
    h1 {
        font-size: 52px;
    }
    button {
        text-align: center;
        font-size: 32px;
        width: 300px;
        height: 69px;
        padding: 20px 30px;
    }
}